**.DS_Store
UserInterfaceState.xcuserstate
Basil\ 442.xcodeproj/project.xcworkspace/xcuserdata/syzhao.xcuserdatad/UserInterfaceState.xcuserstate
Basil\ 442.xcodeproj/xcuserdata/Other.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
